@charset "UTF-8";

:root {
    --color-principal-rojo: #C51C10;
    --color-principal-blanco: #ffffff;
    --color-principal-negro: #262626;
    --color-fondo-blanco: #f0f0f0;
    --color-rojo-oscuro: #a30a0a;
    --color-rojo-hover: #ee0808;
    --color-texto-negro: #424141;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-fondo-blanco);
	width: 100%;
}

/* NAVBAR */
.navbar {
	background-color: var(--color-principal-rojo);
    font-size: 1.6rem;
    padding: 0;
}

.navbar form {
	display: flex;
	flex-direction: row;
    font-size: 1.4rem;
}

.navbar form input {
    margin: 0 .3rem;
    font-size: 1.4rem;
}

.navbar .logo_jas {
    height: 5rem;
    padding: .2rem;
    margin-left: .5rem;
    margin-right: 1rem;
}

.navbar .boton_buscar {
    border: none;
    border-width: .5rem;
    border-radius: .2rem;
    padding: 0 .5rem;
    margin-right: .5rem;
}

.navbar a.nav-link {
    color: var(--color-texto-negro);

}

.navbar-toggler-icon {
    font-size: 2rem;
}
 
.drop-menu .dropbtn { 
    min-width: 14rem;
    border: none;
    outline: none;
    color: var(--color-principal-blanco);
    padding: 1.6rem;
    background-color: inherit;
    font-family: inherit;
}
  
.navbar a.nav-link:hover, .drop-menu:hover .dropbtn {
    background-color: #ff4147;
    color: white;
}

.drop-menu:hover .dropbtn {
    background-color: var(--color-rojo-hover);
    color: var(--color-principal-blanco);
}
  
.drop-content {
    font-size: 1.4rem;
    display: none;
    position: absolute;
    background-color: var(--color-principal-blanco);
    min-width: 13.5rem;
    box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
    z-index: 1;
}
  
.drop-content a.nav-link {
    float: none;
    padding: 1.2rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
.drop-menu:hover .drop-content {
    display: block;
}

.nav_logo_consola {
	height: 2.5rem;
	width: 2.4rem;
}

.contenedor_login_registro {
	display: flex;
	flex-direction: row;
	transform: translateY(-.3rem);
}


.contenedor_login_registro a {
	background-color: #ff5541;
	padding: .5rem 1rem;
	margin: 0 .5rem;
	text-decoration: none;
	color: white;
	border-radius: 1rem;
	border: 1px solid white;
}

.contenedor_login_registro a:hover {
	background-color: white;
	color: var(--color-principal-rojo);
}

.icono_login, .icono_registro {
	transform: translateY(.75rem);
	margin-right: .2rem;
}

/* ==================================================================== 
   ==================================================================== */


/* CONTENEDORES VIDEOJUEGOS/CONSOLAS/ACCESORIOS */
.seccion_detalle_videojuego,
.seccion_detalle_consola,
.seccion_detalle_accesorio {
    height: fit-content;
    padding: 5rem 0;
    background-color: var(--color-principal-negro);
}

.contenedor_videojuego {
	max-width: 120rem;
}

.contenedor_consola,
.contenedor_accesorio {
	max-width: 100rem;
}

.contenedor_videojuego,
.contenedor_consola,
.contenedor_accesorio {
    margin: 0 auto;
    height: 90%;
    width: 90%;
    background-color: #e0dede;
    border-radius: 1rem;
    padding: .5rem;
}

.contenedor_grid_videojuego {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: repeat(2, 2fr) 10rem auto auto auto;
    grid-template-areas: "uno uno dos"
                         "uno uno tres"
                         "cua cua cin"
                         "seis sie ocho"
                         "nue nue nue"
                         "diez diez diez";  
    background-color: var(--color-fondo-blanco);
    border-radius: 1rem;
}

.contenedor_grid_consola,
.contenedor_grid_accesorio {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 2fr) 10rem 30rem auto auto auto;
    grid-template-areas: "uno uno"
    					 "uno uno"
                         "dos dos"
                         "tres cuatro"
                         "cinco seis"
                         "siete siete"
                         "ocho ocho";
    background-color: var(--color-fondo-blanco);
    border-radius: 1rem;
}

.contenedor_imagen_videojuego {
    grid-area: uno;
}

.contenedor_imagen_consola,
.contenedor_imagen_accesorio {
	grid-area: uno;
	display: flex;
	justify-content: center;
}

.contenedor_imagen_videojuego img {
    width: 100%;
    border-top-left-radius: 1rem;
}

.contenedor_imagen_consola img {
    width: 80%;
    border-top-left-radius: 1rem;
}

.contenedor_imagen_accesorio,
.contenedor_imagen_consola {
	background-color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.contenedor_imagen_accesorio img {
	width: 70%;
	
}

.contenedor_info_videojuego_1, .contenedor_info_videojuego_2,
.contenedor_info_consola_1, .contenedor_info_consola_2,
.contenedor_info_accesorio_1, .contenedor_info_accesorio_2 {
    width: 100%;
    font-size: 1.6rem;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.contenedor_info_videojuego_1 {
    grid-area: seis;
}

.contenedor_info_videojuego_2 {
    grid-area: sie;
}

.contenedor_info_consola_1,
.contenedor_info_accesorio_1 {
	border-top: 1px solid lightgrey;
	grid-area: cinco;
}

.contenedor_info_consola_2,
.contenedor_info_accesorio_2 {
    border-top: 1px solid lightgrey;
	grid-area: seis;
}

.titulo_videojuego {
    grid-area: cua;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-texto-negro);
    color: var(--color-principal-blanco);
    border-top: .5px solid white;  
}

.nombre_consola,
.nombre_accesorio {
	grid-area: dos;
	display: flex;
    flex-direction: row;
    align-items: center;
	background-color: var(--color-texto-negro);
    color: var(--color-principal-blanco);
    border-top: .5px solid white;  
}

.titulo_videojuego h3,
.nombre_consola h3,
.nombre_accesorio h3 {
    padding: 2rem;
    font-size: 3rem;
    margin: 0;
}

.contenedor_info_videojuego_1 li, .contenedor_info_videojuego_2 li,
.contenedor_info_accesorio_1 li, .contenedor_info_accesorio_2 li {
    padding: 1rem 2rem;
}

.contenedor_videojuego .contenedor_compra,
.contenedor_consola .contenedor_compra,
.contenedor_accesorio .contenedor_compra {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1rem;
}

.contenedor_videojuego .contenedor_compra {
    grid-area: dos;
	background-color: var(--color-fondo-blanco);	
	border-bottom: 1px solid lightgrey;
}

.contenedor_consola .contenedor_compra,
.contenedor_accesorio .contenedor_compra {
    grid-area: cuatro;
	background-color: white;
	border-radius: 0;

}

.contenedor_compra h3 {
    color: #54ad44;
    margin-bottom: 1rem;
}

.btn-comprar {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--color-principal-blanco);
    background-color: var(--color-principal-rojo);
    border-radius: 1rem;
    box-shadow: 2px 2px 6px 1px #414040;
} 

.btn-comprar img {
    height: 2.5rem;
}

.contenedor_precio_videojuego,
.contenedor_precio_consola,
.contenedor_precio_accesorio {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--color-texto-negro);
}


.contenedor_videojuego .contenedor_caja_videojuego {
    grid-area: tres;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo-blanco);
}

.contenedor_videojuego .contenedor_caja_videojuego img {
	padding: .5rem;
    height: auto;
    width: 60%;
} 

.contenedor_consola .contenedor_caja_consola,
.contenedor_accesorio .contenedor_caja_accesorio {
	grid-area: tres;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contenedor_consola .contenedor_caja_consola img,
.contenedor_accesorio .contenedor_caja_accesorio img {
	height: 80%;
	width: 40rem;
}

.contenedor_puntuacion {
    grid-area: ocho;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-blanco);
    border-bottom: 1px solid lightgrey;
}

.figura_puntuacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    max-width: 10rem;
    max-height: 10rem;
    padding: 1.5rem;
    background-color: #42b93e;
    border-radius: 20%;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-principal-blanco);
}

.puntuacion_texto {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-texto-negro);
}

.contenedor_descripcion_videojuego,
.contenedor_descripcion_consola,
.contenedor_descripcion_accesorio {
    font-size: 1.6rem;
    text-align: justify;
    height: 100%;
    background-color: var(--color-principal-blanco);
    padding: 2rem;
}

.contenedor_descripcion_videojuego {
	grid-area: nue;
}

.contenedor_descripcion_consola,
.contenedor_descripcion_accesorio {
	grid-area: siete;
	border-bottom: 1px solid lightgrey;
}

.contenedor_logos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: cin;
    background-color: var(--color-texto-negro);
}


.contenedor_videojuego .contenedor_logo_consola {
    height: 100%;
    width: 100%;
}

.contenedor_logo_pegi {
    height: 100%;
    width: 100%;
}

.contenedor_logo_consola .imagen_logo_consola {
    height: 100%;
    width: 100%;
}

.contenedor_logo_pegi .imagen_logo_pegi {
    height: 100%;
    width: 100%;
}




/* CARRUSEL / SLIDER */
.contenedor_videojuego .contenedor_slides {
    position: relative;
    grid-area: diez;
}

.contenedor_consola .contenedor_slides,
.contenedor_accesorio .contenedor_slides {
	position: relative;
	grid-area: ocho;
}

/* Las imágenes comenzarán ocultas (solo mostramos la imagen activa) */
.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.contenedor_accesorio .slide {
	margin: 0 auto;
	background-color: white;
} 

.contenedor_accesorio .slide img {
	width: 70%;
	transform: translateX(20%);
}

.anterior, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    user-select: none;           /* Para que al pulsar el usuario sobre la flecha, ésta no quede seleccionada */
    -webkit-user-select: none;   /* Igual, adaptado a diversos navegadores */
    padding: 2rem;
    margin-top: -5rem;
    color: white;
    font-weight: 900;
    font-size: 5rem;
    text-decoration: none;
}

.contenedor_consola .anterior,
.contenedor_consola .siguiente,
.contenedor_accesorio .anterior,
.contenedor_accesorio .siguiente {
	top: 30%;
	color: black;
}

.siguiente {
    right: 0;
}

.anterior:hover,
.siguiente:hover {
    background-color: rgba(0, 0, 0, 0.404);
    color: lightgrey;
}


  
.contenedor_imagenes_mini {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor_imagen_mini {
    width: 20%;
    padding: 0 .1rem;
    cursor: pointer;
}

.contenedor_consola .contenedor_imagen_mini,
.contenedor_accesorio .contenedor_imagen_mini {
	width: 33.3%;
}
  
.imagen_mini { 
    opacity: .6;
    width: 100%;
}
  
.activa, .imagen_mini:hover {
    opacity: 1;
}


/* TARJETAS VIDEOJUEGOS/CONSOLAS/ACCESORIOS */
.contenedor_tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    max-width: 120rem;
}

.contenedor_tarjetas a {
	text-decoration: none;	
	color: inherit;
}

 .tarjeta_wrapper {
     margin: 2rem;        
}

.tarjeta_juego,
.tarjeta_consola,
.tarjeta_accesorio {
	 height: min-content;
	 border-radius: 1rem;
     text-align: left;
     box-shadow: 3px 3px 7px 3px rgba(110, 110, 110, 0.89);
     z-index: 99;
     background-color: var(--color-fondo-blanco); 
     border: 5px solid #e2e2e2;
}

 .tarjeta_juego {
     width: 24rem;
}

.tarjeta_consola,
.tarjeta_accesorio {
	 width: 30rem;
}

.tarjeta_juego:hover,
.tarjeta_consola:hover,
.tarjeta_accesorio:hover {
	 cursor: pointer;
}

.imagen_juego {
     height: 19rem;
}

.imagen_consola,
.imagen_accesorio {
     height: 20rem;
}


 .imagen_juego img,
 .imagen_consola img,
 .imagen_accesorio img {
     height: 100%;
     width: 100%;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;
}
 
.titulo_plataforma {
     font-size: 1rem;
     font-weight: 500;
	 margin-top: .3rem;
}

.contenedor_tarjetas .titulo_juego,
.contenedor_tarjetas_consolas .titulo_consola,
.contenedor_tarjetas_accesorios .titulo_accesorio {
     color: var(--color-texto-negro);
	 background-color: var(--color-fondo-blanco);
     font-weight: 600;
	 padding: .7rem;
	 border-top: 1px solid lightgrey;
	 border-bottom: 1px solid black;
}

.titulo_juego {
     font-size: 1.1rem;
}

.contenedor_tarjetas_consolas .titulo_consola,
.contenedor_tarjetas_accesorios .titulo_accesorio {
	 font-size: 1.3rem;
}

.flex_texto_logo {
	display: flex;
	flex-direction: row;
	width: 100%;
	color: white;
	background-color: #414141;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.item_flex_tarjeta_1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;

}

.item_flex_tarjeta_2 {
	width: 30%;
	height: 4rem;
	display: flex;
	flex-direction: row;
}

.contenedor_tarjetas_consolas .item_flex_tarjeta_1,
.contenedor_tarjetas_accesorios .item_flex_tarjeta_1 {
	width: 80%;
}

.contenedor_tarjetas_consolas .item_flex_tarjeta_2,
.contenedor_tarjetas_accesorios .item_flex_tarjeta_2 {
	display: block;
	height: 5rem;
	width: 20%;
}

.contenedor_texto_tarjeta {
	margin-left: .7rem;
}

.logo_consola {
	height: 4rem;
	border-bottom-right-radius: 1rem;
	width: 100%;
}

.contenedor_tarjetas_consolas .logo_consola,
.contenedor_tarjetas_accesorios .logo_consola {
	height: 5rem;
}

.logo_pegi {
	height: 4rem;
	width: 100%;
}

.logo_consola img {
	height: 100%;
	width: 50%;
}

.logo_pegi img {
	height: 100%;
	width: 50%;
}

.contenedor_precio {
	margin-top: .1rem;
	font-size: 1.4rem;
	font-weight: 700;
}

.contenedor_tarjetas_consolas .contenedor_precio,
.contenedor_tarjetas_accesorios .contenedor_precio {
	font-size: 1.7rem;
}


/* HEADERS / BANNERS */
.banner_nintendo {
	width: 100%;
}

.banner_switch {
	width: 100%;
}

.banner_Xbox {
	width: 100%;
}

.banner_PS {
	width: 100%;
}


/* ESTILOS ESPECÍFICOS SECCIÓN VIDEOJUEGOS SWITCH */
.body_juegos_switch {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(250,249,249,1) 0%, rgba(223,223,223,1) 43%, rgba(205,205,205,1) 100%);
}





/* FORMULARIO ALTA CLIENTE */

.seccion_formulario_alta {
    margin-top: 10rem;
}

 .contenedor_formulario_alta {
    width: 90%;
    max-width: 90rem;
    height: 65rem;
    background-color: var(--color-principal-blanco);
    border-radius: 2rem;
    margin: 5rem auto;
    box-shadow: 3px 3px 10px 5px rgb(129, 128, 128);
} 

.formulario_alta {
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px 5px rgb(129, 128, 128);
    grid-template-areas: "arr arr"
                         "uno dos";
}  

.formulario_alta .logo_formulario {
    height: 6rem;
}

.formulario_alta .formulario_izquierda {
    background-color: #883333;
    border-bottom-left-radius: 2rem;
    min-width: 24rem;
    height: 55rem;
} 

.formulario_alta .formulario_derecha {
    background-color: var(--color-fondo-blanco);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 55rem;
}

.contenedor_arriba {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 10rem;
    background-color: var(--color-principal-rojo);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: 3.5rem;
    letter-spacing: .02rem;
    color: white;
    padding-left: 3.5rem;
    position: relative;
    overflow: hidden;
    grid-area: arr;
} 

.formulario_izquierda .contenedor_izquierda {
    height: 100%;
    width: 100%;
    overflow: hidden;
} 

.formulario_alta .imagen_formulario {
    padding-top: 6rem;
    height: 80%;  
    -webkit-animation: entrada-abajo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: entrada-abajo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.formulario_alta .imagen_formulario_2 {
    position: absolute;
    top: 0;
    right: -2%;
    height: 13rem;
    transform: rotate(-45deg);
}

.formulario_derecha .contenedor_derecha {
    height: 100%;
    color: black;                  
    background-color: #ebc9c9;
    font-size: 1.5rem;
    font-weight: bold;
    place-items: center;
    border-bottom-right-radius: 2rem;
    display: none;
} 

.contenedor_derecha_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "uno dos"
                         "tres cuatro"
                         "cinco seis"
                         "siete ocho"
                         "nueve nueve";
}

.formulario_derecha .registro input[type=text],
.formulario_derecha .registro input[type=email],
.formulario_derecha .registro input[type=password] {
    border: none;
    padding: .7rem;
    border-radius: .3rem;
    width: 90%;
    outline: none;
}

.formulario_derecha .registro {
    padding-left: 2rem;
    width: 100%;
}

.formulario_derecha .registro_1 {
    grid-area: uno;
}
.formulario_derecha .registro_2 {
    grid-area: dos;
}
.formulario_derecha .registro_3 {
    grid-area: tres;
}
.formulario_derecha .registro_4 {
    grid-area: cuatro;
}
.formulario_derecha .registro_5 {
    grid-area: cinco;
}
.formulario_derecha .registro_6 {
    grid-area: seis;
}
.formulario_derecha .registro_7 {
    grid-area: siete;
}
.formulario_derecha .registro_8 {
    grid-area: ocho;
}

.contenedor_radio {
    background-color: white;
    border: none;
    border-radius: .3rem;
    display: inline-block;
    padding: .5rem;
    width: 90%;
    outline: none;
}

.contenedor_radio label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: .3rem;
    margin-left: .3rem;
    padding: .2rem;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 47%;
    font-weight: 500;
}

.contenedor_radio label:hover {
    cursor: pointer;
}

.contenedor_radio input[type=radio] {
    display: none;
}

.contenedor_radio input[type=radio]:checked + label {
    background-color: rgb(202, 43, 43);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.boton_siguiente,
.boton_siguiente_2 {
    font-size: 2rem;
    grid-area: nueve;
    border-radius: .5rem;
    padding: .7rem 1.4rem;
    background-color: #ca2b2b;
    border: none;
    color: white;
    box-shadow: 1px 1px 3px 1px #424242;
    margin: 0 .5rem;
}

.boton_siguiente:hover,
.boton_siguiente_2:hover {
    background-color: var(--color-rojo-hover);
}

.flecha_derecha {
    transform: translateY(.6rem);
}

.formulario_alta i {
    font-size: 1.7rem;
    margin-left: -3rem;
    cursor: pointer;
}

@-webkit-keyframes entrada-abajo {
    0% {
        -webkit-transform: translateY(10rem);
                transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entrada-abajo {
    0% {
        -webkit-transform: translateY(10rem);
                transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
  
input.noValido {
    background-color: #da8888;
}

.contenedor_derecha_2 {
    display: grid;
    grid-template-rows: .5fr 3.5fr .6fr;
    border-bottom-right-radius: 2rem;
}

.contenedor_derecha_2 .selecciona_imagen {
    font-size: 3rem;
    background-color: #d34f4f;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.contenedor_derecha_2 .contenedor_avatares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: var(--color-fondo-blanco);
}

.contenedor_atras_siguiente {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


[type=radio] {
    opacity: 0;
}

[type=radio] + img {
    height: 8rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
    border: 3px solid white;
    box-shadow: 2px 2px 7px 2px rgba(43, 43, 43, 0.411);
    user-select: none;
}

[type=radio]:checked + img {
    border: 3px solid red;
}

.contenedor_derecha_3 {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #ebc9c9;
}

.contenedor_derecha_3 .avatar_elegido {
    height: 15rem;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 7px 2px rgba(43, 43, 43, 0.411);
}

.texto_comprobar_datos {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.contenedor_comprobar_datos {
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border-top: 1px solid #e09e9e;
    border-bottom: 1px solid #e09e9e;
}

.contenedor_comprobar_datos li {
    background-color: inherit;
}  

.contenedor_submit_reset {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.submit_form, .reset_form {
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-principal-rojo);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 3px 3px 7px 2px rgba(43, 43, 43, 0.411);
}

.submit_form:hover,
.reset_form:hover {
    background-color: var(--color-rojo-hover);
}

.bocadillo {
    position: absolute;
    top: 8%;
    right: 11%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 75% 50%, 100% 68%, 51% 50%, 0 50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 75% 50%, 100% 68%, 51% 50%, 0 50%);
    font-weight: 900;
    background-color: rgb(233, 229, 229);
    color: black;
    width: 17rem;
    height: 11rem;
    padding: .5rem;
    font-size: 1.5rem;
    display: none;
} 







/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25rem;
    background-color: #161616;
    color: white;
    height: 40rem;
    width: 100%;
}


.footer_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-left: 15rem;
    font-size: 1.6rem;
}

.footer_1 img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid white;
}

.enlaces_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlaces_footer div {
    margin: .5rem 0;
}

.enlaces_footer a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    border-bottom: .2px solid white;
}

.copyright {
    font-size: 1.4rem;
}

.footer_2 {
    width: 80rem;
}

.footer_2 img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 75rem) {
    .footer_1 {
        margin-left: 7rem;
    }
}

@media only screen and (max-width: 65rem) {
    .footer_1 {
        margin-left: 10rem;
    }
    .footer_2 {
        display: none;
    }
    footer {
        background-image: url('/images/footer/footer2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}