@charset "UTF-8";

:root {
    --color-principal-rojo: #C51C10;
    --color-principal-blanco: #ffffff;
    --color-principal-negro: #262626;
    --color-fondo-blanco: #f0f0f0;
    --color-rojo-oscuro: #a30a0a;
    --color-rojo-hover: #ee0808;
    --color-texto-negro: #424141;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--color-fondo-blanco);
	width: 100%;
}

/* NAVBAR */
.navbar {
	background-color: var(--color-principal-rojo);
    font-size: 1.6rem;
    padding: 0;

}

.navbar form {
	display: flex;
	flex-direction: row;
    font-size: 1.4rem;
}

.navbar form input {
    margin: 0 .3rem;
    font-size: 1.4rem;
}

.navbar .logo_jas {
    height: 5rem;
    padding: .2rem;
    margin-left: .5rem;
    margin-right: 1rem;
}

.navbar a.nav-link {
    color: var(--color-texto-negro);
}

.navbar-toggler-icon {
    font-size: 2rem;
}
 
.drop-menu .dropbtn { 
    min-width: 14rem;
    border: none;
    outline: none;
    color: var(--color-principal-blanco);
    padding: 1.6rem 1.3rem;
    background-color: inherit;
    font-family: inherit;
}
  
.navbar a.nav-link:hover, .drop-menu:hover .dropbtn {
    color: white;
    background-color: #352e30;
}

.drop-menu:hover .dropbtn {
    background-color: var(--color-rojo-hover);
    color: var(--color-principal-blanco);
}
  
.drop-content {
    font-size: 1.4rem;
    display: none;
    position: absolute;
    background-color: var(--color-principal-blanco);
    min-width: 13.5rem;
    box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
    z-index: 1;
}
  
.drop-content a.nav-link {
    float: none;
    padding: 1.5rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
.drop-menu:hover .drop-content {
    display: block;
}

.nav_logo_consola {
	height: 2.5rem;
	width: 2.4rem;
	margin-right: .2rem;
}

.contenedor_usuario {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 1rem;
}

.contenedor_login_registro {
	display: flex;
	flex-direction: row;
	transform: translateY(-.3rem);
}


.contenedor_login_registro a {
	background-color: #ff5541;
	padding: .5rem 1rem;
	margin: 0 .5rem;
	text-decoration: none;
	color: white;
	border-radius: 1rem;
	border: 1px solid white;
}

.contenedor_login_registro a:hover {
	background-color: white;
	color: var(--color-principal-rojo);
}

.icono_login, .icono_registro {
	transform: translateY(.75rem);
	margin-right: .2rem;
}

.drop-menu:hover .contenedor_info_usuario {
	background-color: var(--color-rojo-hover);
} 

.contenedor_info_usuario {
	padding: .2rem .7rem;
	margin-right: .5rem;
	min-width: 14rem;
	color: white;
}

.contenedor_info_usuario:hover {
	cursor: pointer;
}

.contenedor_usuario .drop-content a {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1.5rem;
}

.icono_contenedor_usuario {
	font-size: 1.2rem;
	margin-right: .7rem;
}

.contenedor_info_usuario img {
	height: 5rem;
	padding: .3rem;
	margin-right: .8rem;
} 

.icono_admin {
	margin-right: .5rem;
	font-size: 1.2rem;
}

.div_panel_admin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
	height: 100%;
}  

.div_carrito_nav {
	display: flex;
	align-items: center;
	padding: 1.6rem;
	float: left;
}

.div_carrito_nav a {
	display: flex;
	flex-direction: row;
	color: white;
	text-decoration: none;
} 

.div_carrito_nav:hover {
	cursor: pointer;
	background-color: var(--color-rojo-hover);
}

.titulo_admin {
	margin-right: .5rem;
}

.icono_carrito_compra {
	margin-right: .5rem;
} 

.icono_nav_admin {
	height: 2.4rem;
	margin-right: .5rem;
} 


/* ==================================================================== 
   ==================================================================== */


/* DETALLE VIDEOJUEGOS/CONSOLAS/ACCESORIOS */
.seccion_detalle_videojuego,
.seccion_detalle_consola,
.seccion_detalle_accesorio {
    height: fit-content;
    padding: 5rem 0;
}

.contenedor_videojuego {
	max-width: 120rem;
}

.contenedor_consola,
.contenedor_accesorio {
	max-width: 100rem;
}

.contenedor_videojuego,
.contenedor_consola,
.contenedor_accesorio {
    margin: 0 auto;
    height: 90%;
    width: 90%;
    background-color: #e0dede;
    border-radius: 1rem;
    padding: .5rem;
}

.contenedor_grid_videojuego {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: repeat(2, 2fr) 10rem auto auto auto;
    grid-template-areas: "uno uno dos"
                         "uno uno tres"
                         "cua cua cin"
                         "seis sie ocho"
                         "nue nue nue"
                         "diez diez diez";  
    background-color: var(--color-fondo-blanco);
    border-radius: 1rem;
}

.contenedor_grid_consola,
.contenedor_grid_accesorio {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 2fr) 10rem 30rem auto auto auto;
    grid-template-areas: "uno uno"
    					 "uno uno"
                         "dos dos"
                         "tres cuatro"
                         "cinco seis"
                         "siete siete"
                         "ocho ocho";
    background-color: var(--color-fondo-blanco);
    border-radius: 1rem;
}

.contenedor_imagen_videojuego {
    grid-area: uno;
}

.contenedor_imagen_consola,
.contenedor_imagen_accesorio {
	grid-area: uno;
	display: flex;
	justify-content: center;
}

.contenedor_imagen_videojuego img {
    width: 100%;
    border-top-left-radius: 1rem;
}

.contenedor_imagen_consola img {
    width: 80%;
    border-top-left-radius: 1rem;
}

.contenedor_imagen_accesorio,
.contenedor_imagen_consola {
	background-color: white;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.contenedor_imagen_accesorio img {
	width: 70%;
	
}

.contenedor_info_videojuego_1, .contenedor_info_videojuego_2,
.contenedor_info_consola_1, .contenedor_info_consola_2,
.contenedor_info_accesorio_1, .contenedor_info_accesorio_2 {
    width: 100%;
    font-size: 1.6rem;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.contenedor_info_videojuego_1 {
    grid-area: seis;
}

.contenedor_info_videojuego_2 {
    grid-area: sie;
}

.contenedor_info_consola_1,
.contenedor_info_accesorio_1 {
	border-top: 1px solid lightgrey;
	grid-area: cinco;
}

.contenedor_info_consola_2,
.contenedor_info_accesorio_2 {
    border-top: 1px solid lightgrey;
	grid-area: seis;
}

.titulo_videojuego {
    grid-area: cua;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-texto-negro);
    color: var(--color-principal-blanco);
    border-top: .5px solid white;  
}

.nombre_consola,
.nombre_accesorio {
	grid-area: dos;
	display: flex;
    flex-direction: row;
    align-items: center;
	background-color: var(--color-texto-negro);
    color: var(--color-principal-blanco);
    border-top: .5px solid white;  
}

.titulo_videojuego h3,
.nombre_consola h3,
.nombre_accesorio h3 {
    padding: 2rem;
    font-size: 3rem;
    margin: 0;
}

.contenedor_info_videojuego_1 li, .contenedor_info_videojuego_2 li,
.contenedor_info_accesorio_1 li, .contenedor_info_accesorio_2 li {
    padding: 1rem 2rem;
}

.contenedor_videojuego .contenedor_compra,
.contenedor_consola .contenedor_compra,
.contenedor_accesorio .contenedor_compra {
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 1rem;
}

.contenedor_videojuego .contenedor_compra {
    grid-area: dos;
	background-color: var(--color-fondo-blanco);	
	border-bottom: 1px solid lightgrey;
}

.contenedor_consola .contenedor_compra,
.contenedor_accesorio .contenedor_compra {
    grid-area: cuatro;
	background-color: white;
	border-radius: 0;
}

.contenedor_compra h3 {
    color: #54ad44;
    margin-bottom: 1rem;
}

.contenedor_compra p {
	text-align: center;
	font-size: 1.6rem;
}

.contenedor_compra a {
	font-weight: 700;
	color: var(--color-principal-rojo);
}

.btn-comprar {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--color-principal-blanco);
    background-color: var(--color-principal-rojo);
    border-radius: 1rem;
    box-shadow: 2px 2px 6px 1px #414040;
} 

.btn-comprar img {
    height: 2.5rem;
}

.contenedor_precio_videojuego,
.contenedor_precio_consola,
.contenedor_precio_accesorio {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--color-texto-negro);
}


.contenedor_videojuego .contenedor_caja_videojuego {
    grid-area: tres;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo-blanco);
}

.contenedor_videojuego .contenedor_caja_videojuego img {
	padding: .5rem;
    height: auto;
    width: 60%;
} 

.contenedor_consola .contenedor_caja_consola,
.contenedor_accesorio .contenedor_caja_accesorio {
	grid-area: tres;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contenedor_consola .contenedor_caja_consola img,
.contenedor_accesorio .contenedor_caja_accesorio img {
	height: 80%;
	width: 40rem;
}

.contenedor_puntuacion {
    grid-area: ocho;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-blanco);
    border-bottom: 1px solid lightgrey;
}

.figura_puntuacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    max-width: 10rem;
    max-height: 10rem;
    padding: 1.5rem;
    background-color: #42b93e;
    border-radius: 20%;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-principal-blanco);
}

.puntuacion_texto {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-texto-negro);
}

.contenedor_descripcion_videojuego,
.contenedor_descripcion_consola,
.contenedor_descripcion_accesorio {
    font-size: 1.6rem;
    text-align: justify;
    height: 100%;
    background-color: var(--color-principal-blanco);
    padding: 2rem;
}

.contenedor_descripcion_videojuego {
	grid-area: nue;
}

.contenedor_descripcion_consola,
.contenedor_descripcion_accesorio {
	grid-area: siete;
	border-bottom: 1px solid lightgrey;
}

.contenedor_logos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: cin;
    background-color: var(--color-texto-negro);
}


.contenedor_videojuego .contenedor_logo_consola {
    height: 100%;
    width: 100%;
}

.contenedor_logo_pegi {
    height: 100%;
    width: 100%;
}

.contenedor_logo_consola .imagen_logo_consola {
    height: 100%;
    width: 100%;
}

.contenedor_logo_pegi .imagen_logo_pegi {
    height: 100%;
    width: 100%;
}




/* CARRUSEL / SLIDER */
.contenedor_videojuego .contenedor_slides {
    position: relative;
    grid-area: diez;
}

.contenedor_consola .contenedor_slides,
.contenedor_accesorio .contenedor_slides {
	position: relative;
	grid-area: ocho;
}

/* Las imágenes comenzarán ocultas (solo mostramos la imagen activa) */
.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.contenedor_accesorio .slide {
	margin: 0 auto;
	background-color: white;
} 

.contenedor_accesorio .slide img {
	width: 70%;
	transform: translateX(20%);
}

.anterior, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    user-select: none;           /* Para que al pulsar el usuario sobre la flecha, ésta no quede seleccionada */
    -webkit-user-select: none;   /* Igual, adaptado a diversos navegadores */
    padding: 2rem;
    margin-top: -5rem;
    color: white;
    font-weight: 900;
    font-size: 5rem;
    text-decoration: none;
}

.contenedor_consola .anterior,
.contenedor_consola .siguiente,
.contenedor_accesorio .anterior,
.contenedor_accesorio .siguiente {
	top: 30%;
	color: black;
}

.siguiente {
    right: 0;
}

.anterior:hover,
.siguiente:hover {
    background-color: rgba(0, 0, 0, 0.404);
    color: lightgrey;
}


  
.contenedor_imagenes_mini {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor_imagen_mini {
    width: 20%;
    padding: 0 .1rem;
    cursor: pointer;
}

.contenedor_consola .contenedor_imagen_mini,
.contenedor_accesorio .contenedor_imagen_mini {
	width: 33.3%;
}
  
.imagen_mini { 
    opacity: .6;
    width: 100%;
}
  
.activa, .imagen_mini:hover {
    opacity: 1;
}


/* TARJETAS VIDEOJUEGOS/CONSOLAS/ACCESORIOS */
.contenedor_tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    margin-top: 5%;
    max-width: 120rem;
}

.contenedor_tarjetas a {
	text-decoration: none;	
	color: inherit;
}

 .tarjeta_wrapper {
     margin: 2rem;        
}

.tarjeta_juego,
.tarjeta_consola,
.tarjeta_accesorio {
	 height: min-content;
	 border-radius: 1rem;
     text-align: left;
     box-shadow: 3px 3px 7px 3px rgba(110, 110, 110, 0.89);
     z-index: 99;
     background-color: var(--color-fondo-blanco); 
     border: 5px solid #e2e2e2;
}

 .tarjeta_juego {
     width: 24rem;
}

.tarjeta_consola,
.tarjeta_accesorio {
	 width: 30rem;
	 
}

.tarjeta_juego:hover,
.tarjeta_consola:hover,
.tarjeta_accesorio:hover {
	 cursor: pointer;
	 box-shadow: 3px 3px 7px 3px #c63926;
}

.imagen_juego {
     height: 19rem;
}

.imagen_consola,
.imagen_accesorio {
     height: 20rem;
}


 .imagen_juego img,
 .imagen_consola img,
 .imagen_accesorio img {
     height: 100%;
     width: 100%;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;
}
 
.titulo_plataforma {
     font-size: 1rem;
     font-weight: 500;
	 margin-top: .3rem;
}

.contenedor_tarjetas .titulo_juego,
.contenedor_tarjetas_consolas .titulo_consola,
.contenedor_tarjetas_accesorios .titulo_accesorio {
     color: var(--color-texto-negro);
	 background-color: var(--color-fondo-blanco);
     font-weight: 600;
	 padding: .7rem;
	 border-top: 1px solid lightgrey;
	 border-bottom: 1px solid black;
}

.titulo_juego {
     font-size: 1.1rem;
}

.contenedor_tarjetas_consolas .titulo_consola,
.contenedor_tarjetas_accesorios .titulo_accesorio {
	 font-size: 1.3rem;
}

.flex_texto_logo {
	display: flex;
	flex-direction: row;
	width: 100%;
	color: white;
	background-color: #414141;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.item_flex_tarjeta_1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
}

.item_flex_tarjeta_2 {
	width: 30%;
	height: 4rem;
	display: flex;
	flex-direction: row;
}

.contenedor_tarjetas_consolas .item_flex_tarjeta_1,
.contenedor_tarjetas_accesorios .item_flex_tarjeta_1 {
	width: 80%;
}

.contenedor_tarjetas_consolas .item_flex_tarjeta_2,
.contenedor_tarjetas_accesorios .item_flex_tarjeta_2 {
	display: block;
	height: 5rem;
	width: 20%;
}

.contenedor_texto_tarjeta {
	margin-left: .7rem;
}

.logo_consola {
	height: 4rem;
	border-bottom-right-radius: 1rem;
	width: 100%;
}

.contenedor_tarjetas_consolas .logo_consola,
.contenedor_tarjetas_accesorios .logo_consola {
	height: 5rem;
}

.logo_pegi {
	height: 4rem;
	width: 100%;
}

.logo_consola img {
	height: 100%;
	width: 50%;
}

.logo_pegi img {
	height: 100%;
	width: 50%;
}

.contenedor_precio {
	margin-top: .1rem;
	font-size: 1.4rem;
	font-weight: 700;
}

.contenedor_tarjetas_consolas .contenedor_precio,
.contenedor_tarjetas_accesorios .contenedor_precio {
	font-size: 1.7rem;
}


/* HEADERS / BANNERS */
.banner_nintendo {
	width: 100%;
}

.banner_switch {
	width: 100%;
}

.banner_Xbox {
	width: 100%;
}

.banner_PS {
	width: 100%;
}

.banner_index {
	width: 100%;
}

/* ESTILOS ESPECÍFICOS SECCIÓN VIDEOJUEGOS SWITCH */
.body_juegos_switch {
	background: rgb(136,20,20);
	background: linear-gradient(90deg, rgba(136,20,20,1) 0%, rgba(218,103,103,1) 8%, rgba(255,212,212,1) 25%, rgba(255,237,237,0.6) 50%, rgba(255,212,212,1) 75%, rgba(218,103,103,1) 92%, rgba(136,20,20,1) 100%);
}

/* ESTILOS ESPECÍFICOS SECCIÓN VIDEOJUEGOS PS5 */
.body_juegos_ps {
	background: rgb(20,68,136);
	background: linear-gradient(90deg, rgba(20,68,136,1) 0%, rgba(103,147,218,1) 8%, rgba(212,228,255,1) 25%, rgba(237,242,255,0.6) 50%, rgba(212,228,255,1) 75%, rgba(103,147,218,1) 92%, rgba(20,68,136,1) 100%);
}

/* ESTILOS ESPECÍFICOS SECCIÓN VIDEOJUEGOS XBOX */
.body_juegos_xbox {
	background: rgb(82,172,22);
	background: linear-gradient(90deg, rgba(82,172,22,1) 0%, rgba(120,218,103,1) 8%, rgba(212,255,212,1) 25%, rgba(237,255,238,0.6) 50%, rgba(212,255,212,1) 75%, rgba(120,218,103,1) 92%, rgba(82,172,22,1) 100%);
}

/* ESTILO ESPECIFICO PARA EL BACKGROUND GENERAL */
.body_background_general {	
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(175,175,175,0.1558998599439776) 62%, rgba(129,129,129,0.3435749299719888) 100%);
}

/* ESTILO ESPECIFICO PARA EL BACKGROUND DETALLE VIDEOJUEGO */
.body_background_detalle {
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 15%, rgba(66,65,65,1) 35%, rgba(79,79,79,1) 50%, rgba(66,65,65,1) 65%, rgba(32,32,32,1) 85%, rgba(0,0,0,1) 100%);
}

/* FORMULARIO ALTA CLIENTE */

.seccion_formulario_alta {
    margin-top: 10rem;
}

 .contenedor_formulario_alta {
    width: 90%;
    max-width: 90rem;
    height: 65rem;
    background-color: var(--color-principal-blanco);
    border-radius: 2rem;
    margin: 5rem auto;
    box-shadow: 3px 3px 10px 5px rgb(129, 128, 128);
} 

.formulario_alta {
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px 5px rgb(129, 128, 128);
    grid-template-areas: "arr arr"
                         "uno dos";
}  

.formulario_alta .logo_formulario {
    height: 6rem;
}

.formulario_alta .formulario_izquierda {
    background-color: #883333;
    border-bottom-left-radius: 2rem;
    min-width: 24rem;
    height: 55rem;
} 

.formulario_alta .formulario_derecha {
    background-color: var(--color-fondo-blanco);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 55rem;
}

.contenedor_arriba {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 10rem;
    background-color: var(--color-principal-rojo);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: 3.5rem;
    letter-spacing: .02rem;
    color: white;
    padding-left: 3.5rem;
    position: relative;
    overflow: hidden;
    grid-area: arr;
} 

.formulario_izquierda .contenedor_izquierda {
    height: 100%;
    width: 100%;
    overflow: hidden;
} 

.formulario_alta .imagen_formulario {
    padding-top: 6rem;
    height: 80%;  
    -webkit-animation: entrada-abajo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: entrada-abajo 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.formulario_alta .imagen_formulario_2 {
    position: absolute;
    top: 0;
    right: -2%;
    height: 13rem;
    transform: rotate(-45deg);
}

.formulario_derecha .contenedor_derecha {
    height: 100%;
    color: black;                  
    background-color: #ebc9c9;
    font-size: 1.5rem;
    font-weight: bold;
    place-items: center;
    border-bottom-right-radius: 2rem;
    display: none;
} 

.contenedor_derecha_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "uno dos"
                         "tres cuatro"
                         "cinco seis"
                         "siete ocho"
                         "nueve nueve";
}

.formulario_derecha .registro input[type=text],
.formulario_derecha .registro input[type=email],
.formulario_derecha .registro input[type=password] {
    border: none;
    padding: .7rem;
    border-radius: .3rem;
    width: 90%;
    outline: none;
}

.formulario_derecha .registro {
    padding-left: 2rem;
    width: 100%;
}

.formulario_derecha .registro_1 {
    grid-area: uno;
}
.formulario_derecha .registro_2 {
    grid-area: dos;
}
.formulario_derecha .registro_3 {
    grid-area: tres;
}
.formulario_derecha .registro_4 {
    grid-area: cuatro;
}
.formulario_derecha .registro_5 {
    grid-area: cinco;
}
.formulario_derecha .registro_6 {
    grid-area: seis;
}
.formulario_derecha .registro_7 {
    grid-area: siete;
}
.formulario_derecha .registro_8 {
    grid-area: ocho;
}

.contenedor_radio {
    background-color: white;
    border: none;
    border-radius: .3rem;
    display: inline-block;
    padding: .5rem;
    width: 90%;
    outline: none;
}

.contenedor_radio label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: .3rem;
    margin-left: .3rem;
    padding: .2rem;
    text-align: center;
    transition: 0.2s all ease-in-out;
    width: 47%;
    font-weight: 500;
}

.contenedor_radio label:hover {
    cursor: pointer;
}

.contenedor_radio input[type=radio] {
    display: none;
}

.contenedor_radio input[type=radio]:checked + label {
    background-color: rgb(202, 43, 43);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.boton_siguiente,
.boton_siguiente_2 {
    font-size: 2rem;
    grid-area: nueve;
    border-radius: .5rem;
    padding: .7rem 1.4rem;
    background-color: #ca2b2b;
    border: none;
    color: white;
    box-shadow: 1px 1px 3px 1px #424242;
    margin: 0 .5rem;
}

.boton_siguiente:hover,
.boton_siguiente_2:hover {
    background-color: var(--color-rojo-hover);
}

.flecha_derecha {
    transform: translateY(.6rem);
}

.formulario_alta i {
    font-size: 1.7rem;
    margin-left: -3rem;
    cursor: pointer;
}

@-webkit-keyframes entrada-abajo {
    0% {
        -webkit-transform: translateY(10rem);
                transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
@keyframes entrada-abajo {
    0% {
        -webkit-transform: translateY(10rem);
                transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 1;
    }
}
  
input.noValido {
    background-color: #da8888;
}

.contenedor_derecha_2 {
    display: grid;
    grid-template-rows: .5fr 3.5fr .6fr;
    border-bottom-right-radius: 2rem;
}

.contenedor_derecha_2 .selecciona_imagen {
    font-size: 3rem;
    background-color: #d34f4f;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.contenedor_derecha_2 .contenedor_avatares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    overflow: scroll;
    height: 100%;
    width: 100%;
    background-color: var(--color-fondo-blanco);
}

.contenedor_atras_siguiente {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


[type=radio] {
    opacity: 0;
}

[type=radio] + img {
    height: 8rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
    border: 3px solid white;
    box-shadow: 2px 2px 7px 2px rgba(43, 43, 43, 0.411);
    user-select: none;
}

[type=radio]:checked + img {
    border: 3px solid red;
}

.contenedor_derecha_3 {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: #ebc9c9;
}

.contenedor_derecha_3 .avatar_elegido {
    height: 15rem;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 2px 2px 7px 2px rgba(43, 43, 43, 0.411);
}

.texto_comprobar_datos {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.contenedor_comprobar_datos {
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    border-top: 1px solid #e09e9e;
    border-bottom: 1px solid #e09e9e;
}

.contenedor_comprobar_datos li {
    background-color: inherit;
}  

.contenedor_submit_reset {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.submit_form, .reset_form {
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-principal-rojo);
    color: white;
    border: none;
    border-radius: 2rem;
    box-shadow: 3px 3px 7px 2px rgba(43, 43, 43, 0.411);
}

.submit_form:hover,
.reset_form:hover {
    background-color: var(--color-rojo-hover);
}

.bocadillo {
    position: absolute;
    top: 8%;
    right: 11%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 75% 50%, 100% 68%, 51% 50%, 0 50%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 75% 50%, 100% 68%, 51% 50%, 0 50%);
    font-weight: 900;
    background-color: rgb(233, 229, 229);
    color: black;
    width: 17rem;
    height: 11rem;
    padding: .5rem;
    font-size: 1.5rem;
    display: none;
} 

/* INDEX */

.contenedor_titulos{
	width: 80%;
	height: 50%;
	margin-left: 10%; 
	margin-top: 4%;
	padding-bottom: 0.5%;
	border-top: 1px solid grey;
}

.tituloLogoIndex {
	position: relative;
	margin-left: 3.5%; 
	margin-top: 4%;
}

.contenedor_tituloIndex{
	/*margin: 0 auto;*/
	display: flex;
	justify-content: center;
	width: 100%;
	height: 20%;
	padding: 3%;
}


.tituloIndex {
	margin: center;
	font-family: Arial Black; 
	font-weight: bold;  
	color: #fff; 
	text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
	font-size: 8.5rem;
}




/* PERFIL */
.body_perfil {
	background: #E4DCDC;
}

.contenedor_perfil_usuario {
	display: grid;
	grid-template-areas: "uno uno"
						 "dos tres";
	border-radius: 2.5rem;
	border: 5px solid #a62929;
	max-width: 70rem;
	margin: 10rem auto;
	font-size: 1.7rem;
	position: relative;
	box-shadow: 2px 2px 10px 2px #716a6a;
	background-color: #e6c4c4;
}

.contenedor_imagen_perfil {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	grid-area: uno;
	background-color: #862525;
	background-image: url("/images/fondos/fondo-rojo-1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.contenedor_imagen_perfil img {
	height: 10rem;
	margin: 1.2rem 3rem;
	border-radius: 50%;
	border: 2px solid white;
	box-shadow: 2px 2px 7px 2px #b94c49;
}

.contenedor_imagen_perfil h2 {
	color: white;
	font-size: 3rem;
}

/*
.contenedor_username_perfil {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	grid-area: dos;
	color: white;
	background-color: #862525;
	border-top-right-radius: 2rem;
}
*/

.contenedor_datos_perfil_1 {
	grid-area: dos;
}

.contenedor_datos_perfil_1 ul {
	padding: 1rem;
}

.contenedor_datos_perfil_2 {
	grid-area: tres;
}

.contenedor_datos_perfil_2 ul {
	padding: 1rem;
}

.contenedor_datos_perfil_1 li,
.contenedor_datos_perfil_2 li {
	padding: 2rem;
	background-color: #f2ebeb;
	margin: .7rem 0;
	border-radius: 1rem;
	box-shadow: 2px 2px 5px 3px #ce9494;
}

.contenedor_datos_perfil_1 ul,
.contenedor_datos_perfil_2 ul {
	border-radius: 1rem;
} 

.perfil_usuario_texto {
	position: absolute;
	top: 2%;
	right: 2%;
	border-radius: 2rem;
	width: 7rem;
	text-align: center;
	padding: .5rem;
	color: white;
	background-color: #E82B2BAB;
}

.png_perfil {
	position: absolute;
	top: 0;
	right: 2%;
	height: 160%;
	opacity: .4;
}

.png_perfil_mapa {
	height: 110%;
	width: 29%;
}

.png_perfil_mail {
	height: 115%;
	width: 25%;
	transform: translateX(-.3rem);
}

.png_perfil_calendario {
	width: 35%;
}

.png_perfil_usuario {
	transform: translate(1.5rem, -1rem);
	height: 130%;
}

.png_perfil_newsletter {
	height: 130%;
}

.png_perfil_genero_h {
	height: 115%;
	width: 35%;
}


/* SECCIÓN ADMIN */
.body_admin {
	background-color: rgb(228, 220, 220);
}

.alerta_admin_videojuegos,
.alerta_admin_consolas,
.alerta_admin_accesorios {
	margin: 3rem auto;
	text-align: center;
	background-color: #f1375a;
	width: fit-content;
	color: white;
	border-radius: 1rem;
} 

.admin_tabla {
    width: 80%;
    margin: 5rem auto;
    font-size: 1.4rem;
}

.admin_tabla tr th, .admin_tabla tr td {
    border-color: #c9c5c5;
    padding: .5rem;
}

.admin_tabla thead tr {
    color: white;
}

.tabla_head_1 {
	background-color: none;
	width: 100%;
}

.tabla_videojuegos_logo, .logoIndex {
	width: 25rem;
	padding: 1rem;
}

.tabla_head_2 th {
	padding: 1.2rem;
}

.tabla_switch .tabla_head_2,
.admin_tabla .tabla_head_2 {
	background-color: rgb(208, 21, 21);
}

.tabla_xbox .tabla_head_2 {
	background-color: rgb(21, 116, 13);
}

.tabla_ps5 .tabla_head_2 {
	background-color: rgb(25, 42, 137);
}

.admin_tabla tbody tr:nth-of-type(odd) {
    background-color: #edebeb;
}
.admin_tabla tbody tr:nth-of-type(even) {
    background-color: #fdfdfd;
}
.admin_tabla tbody tr:hover {
    background: #f5cfd0;
}
.admin_tabla .acciones {
    width: 15rem;
}
.admin_tabla td a {
    margin: 0 .5rem;
}
.admin_tabla .acciones img {
    margin-top: .2rem;
    margin-right: 1.2rem;
    height: 1.8rem;
}

.tabla_admin_imagen_juego {
	height: 6rem;
	width: 6rem;
}

.tabla_usuarios h2 {
	font-size: 3.5rem;
	color: #c70103;
}

/* BOTONES ALTA (ADMIN) */
.boton_alta_videojuego,
.boton_alta_consola,
.boton_alta_accesorio {
	display: flex;
	justify-content: center;
	width: 100%;
	color: white;
	border: none;
	border-radius: 1rem;
	padding: 1.5rem .5rem;
	font-size: 2rem;
	box-shadow: 2px 2px 7px 1px #978b8b;
	background-color: rgb(208, 21, 21);
}

.boton_alta_videojuego:hover,
.boton_alta_consola:hover,
.boton_alta_accesorio:hover {
	background-color: #fb171e;
}

.icono_alta_videojuego {
	margin-top: .3rem;
	margin-right: 1.5rem;
}

.admin_tabla a {
	text-decoration: none;
}

/* FORMULARIO ALTA VIDEOJUEGO */
.body_form_alta_videojuego {
    background-color: rgb(228, 220, 220);
}

.form_alta_videojuego,
.form_alta_consola,
.form_alta_accesorio {
	background-color: #f0d3d3;
	width: 50%;
	min-width: 65rem;
	margin: 7rem auto;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	padding: 3.5rem;	
	border-radius: 1rem;
	box-shadow: 3px 3px 5px 3px #b75858;
	position: relative;
}

.form_alta_videojuego h2,
.form_alta_consola h2,
.form_alta_accesorio h2 {
	font-size: 2.5rem;
	font-weight: 900;
	margin-bottom: 5rem;
	color: #a80000;
}

.form_alta_videojuego .imagen_form_alta_vj_1 {
	position: absolute;
	top: 1%;
	right: 1%;
	width: 15rem;
	opacity: 0.4;
}

.form_alta_videojuego .imagen_form_alta_vj_2 {
	position: absolute;
	right: 1%;
	bottom: 5%;
	width: 34rem;
	opacity: 0.4;
}

.form_alta_videojuego h4,
.form_alta_consola h4,
.form_alta_accesorio h4 {
	font-size: 1.6rem;
	font-weight: 900;
}

.form_alta_videojuego input[type=text],
.form_alta_videojuego input[type=number],
.form_alta_videojuego input[type=file],
.form_alta_videojuego textarea,
.form_alta_consola input[type=text],
.form_alta_consola input[type=number],
.form_alta_consola input[type=file],
.form_alta_consola textarea,
.form_alta_accesorio input[type=text],
.form_alta_accesorio input[type=number],
.form_alta_accesorio input[type=file],
.form_alta_accesorio textarea {
	width: 100%;
	margin-bottom: 1.2rem;
	outline: none;
}

.form_alta_videojuego input[type=date],
.form_alta_consola input[type=date],
.form_alta_accesorio input[type=date] {
	margin-bottom: 1rem;
	outline: none;
}

.form_alta_videojuego input[type=radio] {
	opacity: 1;
}

.form_alta_videojuego .contenedor_checkbox label {
	margin-right: .7rem;
}

.form_alta_videojuego_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 1.5rem;
}

.form_alta_videojuego_grid > div {
	margin: 1rem 0;
}

.form_alta_videojuego_grid #puntuacion,
.form_alta_videojuego_grid #numeroJugadores {
	width: 97%;
}

.form_alta_videojuego .contenedor_generos_form {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin-bottom: 3rem;
}

.contenedor_sub_res_alta_vid {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
}

.form_alta_videojuego .submit_alta_videojuego,
.form_alta_videojuego .reset_alta_videojuego,
.form_alta_consola .submit_alta_consola,
.form_alta_consola .reset_alta_consola,
.form_alta_accesorio .submit_alta_accesorio,
.form_alta_accesorio .reset_alta_accesorio {
	background-color: var(--color-principal-rojo);
	border: none;
	color: white;
	font-size: 2rem;
	border-radius: 1rem;
	padding: .5rem 0;
	width: 30%;
	margin: 0 1rem;
}

.form_alta_videojuego .submit_alta_videojuego:hover,
.form_alta_videojuego .reset_alta_videojuego:hover,
.form_alta_consola .submit_alta_consola:hover,
.form_alta_consola .reset_alta_consola:hover,
.form_alta_accesorio .submit_alta_accesorio:hover,
.form_alta_accesorio .reset_alta_accesorio:hover {
	background-color: var(--color-rojo-hover);
}

#consola {
	width: min-content;
	margin-bottom: 1.2rem;
}


/* ELIMINACIÓN VIDEOJUEGO/CONSOLA/ACCESORIO */
.contenedor_eliminar_producto {
	display: grid;
	grid-template-areas: "uno uno"
						 "dos tres"
						 "cuatro cuatro"
						 "cinco seis";
	margin: 7rem auto;
	width: fit-content;
	font-size: 1.4rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 3px 3px 7px 3px #7a7a7a;
}  

.titulo_eliminar_producto {
	grid-area: uno;
	text-align: center;
	background-color: white;
	padding: 2rem 0;
	border-bottom: 1px solid lightgrey;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background-color: #ab0000;
	color: white;
} 

.titulo_eliminar_producto h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin: 0;
}

.contenedor_imagen_eliminar_producto {
	grid-area: dos;
	height: 22.5rem;
	width: 22.5rem;
}

.imagen_eliminar_producto {
	height: 100%;
	width: 100%;
}

.detalles_eliminar_producto {
	grid-area: tres;
	width: 22.5rem;
} 

.alerta_eliminar_producto {
	grid-area: cuatro;
	text-align: center;
	border-top: 1px solid lightgrey;
	font-size: 1.55rem;
	padding: 2rem 0;
} 

.contenedor_boton_eliminar_volver,
.contenedor_boton_confirmar_eliminar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
} 

.contenedor_boton_eliminar_volver button,
.contenedor_boton_confirmar_eliminar button {
	font-size: 2rem;
}	

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25rem;
    background-color: #161616;
    color: white;
    height: 40rem;
    width: 100%;
}


.footer_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin-left: 15rem;
    font-size: 1.6rem;
}

.footer_1 img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid white;
}

.enlaces_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlaces_footer div {
    margin: .5rem 0;
}

.enlaces_footer a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    border-bottom: .2px solid white;
}

.copyright {
    font-size: 1.4rem;
}

.footer_2 {
    width: 80rem;
}

.footer_2 img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 75rem) {
    .footer_1 {
        margin-left: 7rem;
    }
}

@media only screen and (max-width: 65rem) {
    .footer_1 {
        margin-left: 10rem;
    }
    .footer_2 {
        display: none;
    }
    footer {
        background-image: url('/images/footer/footer2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
}